<div class="row my-5 "></div>

<div class="e">
            <table striped bordered hover class="i">
            <thead class="o">
              <tr>
                <th>Producto</th>
                <th></th>
                <th>Cant</th>
                <th>Subtotal</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="carrito-container" class="er">
{{#each car}}

            <tr class="aa">
                <td ><img src="{{ this.id_prod.thumbnail}}" style= "width:60px;height:60px;padding:0.1rem" alt=""></img></td>
                <td>{{ this.id_prod.title }}</td>
                <td>{{ this.cant }}</td>
                <td>Unitario  $ {{this.id_prod.price}}</td>   
                <td><button data-producto-id="{{ this.id_prod._id }}" class="buttondel cartdelete" data-cart-id="{{this.idCarrito}}"> X </button></td>        
              </tr>
{{/each}}
            </tbody>
            <br /><br />
            <tfoot>
              <tr class="u">
                <td>TOTAL</td>
                <td></td>
                <td>$ </td>
                <td></td>
                <td></td>
              </tr>
            </tfoot>
            </table>
            <button data-cart-id="{{idcarrito}}" class="buttonAddCart buttonAddCart1 buttonAddCart2 purchaseCart" >Comprar</button>
            <button data-cart-id="{{idcarrito}}" class="buttonAddCart buttonAddCart1 buttonAddCart2 btndelete">Vaciar</button>
      </div>
</div>
<script>
  document.addEventListener('click', (event) => {
  if (event.target.classList.contains('btndelete')) {
    const cartId = event.target.dataset.cartId;//'64749e36cf5a2f56927e9d30'//event.target.dataset.cartId; // Reemplaza con el ID real del carrito
    const url = 'http://localhost:4000/cart/' + cartId;
    const data={}
    fetch(url, {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
      .then(response => response.json())
      .then(data => {
        console.log(data); 
        Swal.fire({
          position: 'top-end',
          icon: 'success',
          title: 'Vacio carrito',
          showConfirmButton: false,
          timer: 2000
        }).then(() => {
          const carritoContainer = document.getElementById('carrito-container');
          carritoContainer.innerHTML = ''; // Eliminar los elementos del carrito 
          //location.reload(); // Recargar la página
          }) 
      })
      .catch(error => {
        console.error(error);
      });
  }
})


 document.addEventListener('click', (event) => {
  if (event.target.classList.contains('cartdelete')) {
    const cartId = event.target.dataset.cartId;
    const productoId = event.target.dataset.productoId;
    const url = 'http://localhost:4000/cart/' + cartId + '/product/' + productoId ;
    const data={}
    fetch(url, {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
      .then(response => response.json())
      .then(data => {
        console.log(data); 
        Swal.fire({
          position: 'top-end',
          icon: 'success',
          title: 'Producto eliminado',
          showConfirmButton: false,
          timer: 2000
        }).then(() => {
          location.reload(); // Recargar la página
          }) 
      })
      .catch(error => {
        console.error(error);
      });
  }
})

  document.addEventListener('click', (event) => {
  if (event.target.classList.contains('purchaseCart')) {
    const cartId = event.target.dataset.cartId;//'64749e36cf5a2f56927e9d30'//event.target.dataset.cartId; // Reemplaza con el ID real del carrito
    const url = 'http://localhost:4000/cart/' + cartId + '/purchase';
    console.log(url)
    const data={}
    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
      .then(response => response.json())
      .then(data => {
        console.log(data); 
        Swal.fire({
          position: 'top-end',
          icon: 'success',
          title: 'Compra Confirmada',
          showConfirmButton: false,
          timer: 2000
        }).then(() => {
          //const carritoContainer = document.getElementById('carrito-container');
          //carritoContainer.innerHTML = ''; // Eliminar los elementos del carrito 
          location.reload(); // Recargar la página
          }) 
      })
      .catch(error => {
        console.error(error);
      });
  }
})


</script>