

<button id="btnMostrarFormulario" style="margin: 1rem" class="btn btn-primary">Agregar</button>

<div id="formulario" style="display: none; margin: 0 auto; text-align: left;">
  <form action="/product" method="POST" class="card card-body" style="max-width: 400px;">
        <h2 style="color:rgba(73, 177, 177, 0.665)">Nuevo Producto</h2>
        <div class="mb-3">
          <label for="title" class="form-label">Titulo</label>
          <input type="text" class="form-control" name="title" required>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Descripción</label>
          <input type="text" class="form-control" name="description" required> 
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Precio</label>
          <input type="number" class="form-control" name="price" required>
        </div>
        <div class="mb-3">
          <label for="stock" class="form-label">Stock</label>
          <input type="number" class="form-control" name="stock" required>
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">Categoria</label>
          <input type="text" class="form-control" name="category" required>
        </div>
        <div class="mb-3">
          <label for="code" class="form-label">Código</label>
          <input type="text" class="form-control" name="code" required>
        </div>
          <button type="submit" class="btn btn-primary">Agregar</button>
  </form>
</div>
   
   
   <div style="display: flex; flex-wrap: wrap; margin-top: 2rem;">
    {{#each pro}}
      <div class="card" style="width: 300px; margin: 10px; padding: 20px; background-color: #fff; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); border-radius: 5px;">
      <img src="..." class="card-img-top" alt="..."></img>
      <div class="card-body">
        <p class="list-group-item" style="background-color: rgba(73, 177, 177, 0.665); color: azure; font-family: 'Times New Roman', Times, serif; font-weight: 900; font-size: x-large; border-radius: 0.5rem">{{ this.category }}</p>
        <h5 class="card-title" style="overflow: hidden">{{ this.title }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">  {{ this._id }}</li>
        <li class="list-group-item">{{ this.stock }}</li>
        <li class="list-group-item">$ {{ this.price }}</li>
      </ul>
      <div class="card-body">
        <input type="number" id="quantity" class="form-control" placeholder="Cantidad" required>
        <button id="btnAddCart" data-producto-id="{{ this._id }}" style="margin: 1rem" class="btn btn-primary">Agregar al carrito</button>
      </div>
    </div> 
    {{/each}}
  </div>

<script>
  document.getElementById('btnMostrarFormulario').addEventListener('click', () => {
  var formulario = document.getElementById('formulario')
  if (formulario.style.display === 'none') {
    formulario.style.display = 'block'
  } else {
    formulario.style.display = 'none'
  }
})

  document.getElementById('btnAddCart').addEventListener('click', () => {
    console.log('hola')
    const carritoId = '64749e36cf5a2f56927e9d30' // Reemplaza con el ID real del carrito
    const productoId = document.getElementById('btnAddCart').dataset.productoId; 
    const quantity = document.getElementById('quantity').value;

    const url = 'http://localhost:4000/cart/' + carritoId + '/product/' + productoId;
    console.log(url)
    const data = { quantity: quantity };

    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => {
      console.log(data)
    })
    .catch(error => {
      console.error(error)
    })
  })
</script>