<div class="row my-5 justify-content-center">
  {{#if rol}}
  <div class='justify-content-center' style="display: flex; flex-wrap: wrap; margin-top: 2rem;" id="products-container"
    data-carrito-id="{{ carritoId }}">
    {{#each pro}}
    <div class="card"
      style="width: 300px; margin: 10px; padding: 20px; background-color: #fff; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); border-radius: 5px;">

      <img src="{{ this.thumbnail.[0] }}" class="card-img-top " alt="{{ this.thumbnail.[0] }}"
        style="width: 100%; height: 200px; object-fit: cover;">

      <div class="card-body">
        <p class="list-group-item"
          style="background-color: rgba(73, 177, 177, 0.665); color: azure; font-family: 'Times New Roman', Times, serif; font-weight: 900; font-size: 18px; border-radius: 0.5rem; padding: 5px 10px; text-overflow: ellipsis;">
          {{ this.category }}</p>
        <h5 class="card-title" style="overflow: hidden; font-size: 18px;text-overflow: ellipsis; white-space: nowrap;">
          {{ this.title }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Stock {{ this.stock }} </li>
        <li class="list-group-item">$ {{ this.price }}</li>
      </ul>
      <div class="card-body">
        <div class="quantity-container" style="display: flex; align-items: center;">
          <button class="quantity-button"
            style="border: none; background-color: #f1f1f1; padding: 5px 10px; font-size: 16px; cursor: pointer;"
            onclick="decreaseQuantity(this)">-</button>
          <input type="number" class="form-control quantity-input" style="margin: 0 10px; text-align: center;"
            placeholder="Cantidad" value="1" min="1" required>
          <button class="quantity-button"
            style="border: none; background-color: #f1f1f1; padding: 5px 10px; font-size: 16px; cursor: pointer;"
            onclick="increaseQuantity(this)">+</button>
        </div>
        <br>
        <a data-product-id="{{this._id}}" class="btn btn-dark btndelet" style="display: block; margin: 0 auto;">Eliminar</a>
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}
  <div class='justify-content-center' style="display: flex; flex-wrap: wrap; margin-top: 2rem;" id="products-container"
    data-carrito-id="{{ carritoId }}">
    {{#each pro}}
    <div class="card"
      style="width: 300px; margin: 10px; padding: 20px; background-color: #fff; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); border-radius: 5px;">

      <img src="{{ this.thumbnail.[0] }}" class="card-img-top " alt="{{ this.thumbnail.[0] }}"
        style="width: 100%; height: 200px; object-fit: cover;">

      <div class="card-body">
        <p class="list-group-item"
          style="background-color: rgba(73, 177, 177, 0.665); color: azure; font-family: 'Times New Roman', Times, serif; font-weight: 900; font-size: 18px; border-radius: 0.5rem; padding: 5px 10px; text-overflow: ellipsis;">
          {{ this.category }}</p>
        <h5 class="card-title" style="overflow: hidden; font-size: 18px;text-overflow: ellipsis; white-space: nowrap;">
          {{ this.title }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Stock {{ this.stock }} </li>
        <li class="list-group-item">$ {{ this.price }}</li>
      </ul>
      <div class="card-body">
        <div class="quantity-container" style="display: flex; align-items: center;">
          <button class="quantity-button"
            style="border: none; background-color: #f1f1f1; padding: 5px 10px; font-size: 16px; cursor: pointer;"
            onclick="decreaseQuantity(this)">-</button>
          <input type="number" class="form-control quantity-input" style="margin: 0 10px; text-align: center;"
            placeholder="Cantidad" value="1" min="1" required>
          <button class="quantity-button"
            style="border: none; background-color: #f1f1f1; padding: 5px 10px; font-size: 16px; cursor: pointer;"
            onclick="increaseQuantity(this)">+</button>
        </div>
        <br>
        <button data-producto-id="{{ this._id }}" data-carrito-id="{{ carritoId }}"
          style="display: block; margin: 0 auto;" class="btn btn-dark btnAddCart" onclick="addToCart(this)">Agregar al
          carrito</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>


<script>


  function addToCart(button) {
    const cartId = button.closest('#products-container').dataset.carritoId;
    const productoId = button.dataset.productoId;
    const quantityInput = button.parentNode.querySelector('.quantity-input');
    const quantity = quantityInput.value;
    const url = 'https://nuevosaires.up.railway.app/cart/' + cartId + '/product/' + productoId;
    const data = { quantity: quantity };

    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        quantityInput.value = 1;
        Swal.fire({
          position: 'top-end',
          icon: 'success',
          title: 'El producto se ha agregado al carrito',
          showConfirmButton: false,
          timer: 2000
        })
      })
      .catch(error => {
        console.error(error);
      });
  }

  function decreaseQuantity(button) {
    var quantityInput = button.parentNode.querySelector('.quantity-input');
    if (quantityInput.value > 1) {
      quantityInput.value = parseInt(quantityInput.value) - 1;
    }
  }

  function increaseQuantity(button) {
    var quantityInput = button.parentNode.querySelector('.quantity-input');
    quantityInput.value = parseInt(quantityInput.value) + 1;
  }



    document.addEventListener('click', (event) => {
  if (event.target.classList.contains('btndelet')) {
    const productId = event.target.dataset.productId//'64749e36cf5a2f56927e9d30'//event.target.dataset.cartId; // Reemplaza con el ID real del carrito
    const url = 'https://nuevosaires.up.railway.app/product/' + productId
    const data={}
    fetch(url, {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
      .then(response => response.json())
      .then(data => {
        console.log(data); 
        Swal.fire({
          position: 'top-end',
          icon: 'success',
          title: 'Producto Eliminado',
          showConfirmButton: false,
          timer: 2000
        }).then(() => {
          location.reload()
          }) 
      })
      .catch(error => {
        console.error(error);
      });
  }
})

</script>