
<div class="row justify-content-center align-items-center" style="margin-top: 5rem">
    <div class="col-sm-12 col-md-4">
        <img src="{{ image }}" alt="{{usuario._id}} Foto de perfil" style="width: 300px; height: 300px; max-width: 100%; height: auto;border-radius: 50%">
        <h3 class="my-4">{{ usuario.first_name }}</h3>
        <h5 class="">{{ roles }}</h5>
        <br><br>
        {{#if rolet}}
        <a href="/user/premium/{{usuario._id}}" class="btn btn-dark">Volver a Usuario!!!</a>
        {{/if }}
        {{#unless rolet}}
        <a href="/user/premium/{{usuario._id}}" class="btn btn-dark">Quiero Ser Premium!!!</a>
        {{/unless}}
    </div>
    <div class="col-sm-12 col-md-8" style="margin-top: 5rem;">
        <div class="card">
            <div class="card-header">
                Foto de Perfil
            </div>
            <div class="card-body">
                <form action="/user/{{usuario._id}}/documents" method="post" enctype="multipart/form-data">
                    <input type="text" name="filetype" value="ProfileImagen" style="display: none;">
                    <input type="file" name="file" accept="image/*" class="btn btn-secondary" required>
                    <input type="submit" class="btn btn-dark" value="Agregar">
                </form>
            </div>
        </div>
        <br>
        {{#unless rol}}
        <div class="card">
            <div class="card-header">
                Documento de Identidad
            </div>
            <div class="card-body">
                <form action="/user/{{ usuario._id }}/documents" method="post" enctype="multipart/form-data">
                    <input type="text" name="filetype" value="DocumentIdent" style="display: none;">
                    <input type="file" name="file" accept=".pdf, .doc, .docx" class="btn btn-secondary" required>
                    <input type="submit" class="btn btn btn-dark" value="Agregar">
                </form>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                Comprobante de domicilio
            </div>
            <div class="card-body">
                <form action="/user/{{ usuario._id }}/documents" method="post" enctype="multipart/form-data">
                    <input type="text" name="filetype" value="DocumentCompDomi" style="display: none;">
                    <input type="file" name="file" accept=".pdf, .doc, .docx" class="btn btn-secondary" required>
                    <input type="submit" class="btn btn btn-dark" value="Agregar">
                </form>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                Comprobante de estado de cuenta
            </div>
            <div class="card-body">
                <form action="/user/{{ usuario._id }}/documents" method="post" enctype="multipart/form-data">
                    <input type="text" name="filetype" value="DocumentCompCuen" style="display: none;">
                    <input type="file" name="file" accept=".pdf, .doc, .docx" class="btn btn-secondary" required>
                    <input type="submit" class="btn btn btn-dark" value="Agregar">
                </form>
            </div>
        </div>
        {{/unless}}
    </div>
</div>
{{#if rolet}}
<div class="row my-2 justify-content-center align-items-center">
  <div class="col-md-12">
    <div class="card">
        <div class="card-header">
            Agregar Producto
        </div>
        <div class="card-body">
            <p>Completa formulario </p>
            <button id="mostrarFormulario" class="btn btn-dark">Abrir</button>
            <br><br>
            <form action="/product" method="POST" enctype="multipart/form-data" class="card card-body mb-3"
                style="max-width: 400px; display: none; " id="formulario">
                <h2 style="color:rgba(73, 177, 177, 0.665)">Nuevo Producto</h2>
                <div class="mb-3">
                    <label for="title" class="form-label">Titulo</label>
                    <input type="text" class="form-control" name="title" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descripción</label>
                    <input type="text" class="form-control" name="description" required>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Precio</label>
                    <input type="number" class="form-control" name="price" required>
                </div>
                <div class="mb-3">
                    <label for="stock" class="form-label">Stock</label>
                    <input type="number" class="form-control" name="stock" required>
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Categoria</label>
                    <input type="text" class="form-control" name="category" required>
                </div>
                <div class="mb-3">
                    <label for="code" class="form-label">Código</label>
                    <input type="text" class="form-control" name="code" required>
                </div>
                <div class="mb-3">
                    <label for="imagen" class="form-label">Imágenes</label>
                    <input type="text" name="filetype" value="products" style="display: none;">
                    <input type="file" class="form-control" name="file" accept="image/*" multiple required>
                </div>
                <button type="submit" class="btn btn-dark">Agregar</button>
            </form>
        </div>
    </div>
   </div>  
</div>
{{/if}}


{{#if rol}}
<div class="row my-5">
    <div class="col-sm-12 col-md-6">
        <div class="card">
            <h5 class="card-header">Usuarios</h5>
            {{#with usu}}
            {{#each this}}
            <div class="card-body">
                <h5 class="card-title">{{email}}</h5>
                <p class="card-text">Nombre: {{first_name}} {{last_name}}</p>
                <p class="card-text">Rol: {{ rol }}</p>
                <a href="/user/premium/{{_id}}" class="btn btn-secondary">Cambio de Rol</a>
                <a href="/user/delete/{{_id}}" class="btn btn-dark">Eliminar</a>
            </div>
            {{/each}}
            {{/with}}
        </div>
    </div>
    <div class="col-sm-12 col-md-6 justify-content-center align-items-center">
        <div class="card">
            <div class="card-header">
                <h5>Mantenimiento</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">Limpieza de Usuarios</h5>
                <p class="card-text">Se quitaran automaticamente de la BD los usuarios y carritos que esten inactivos
                    por mas de dos dias</p>
                <a href="/user/delete" class="btn btn-dark">Iniciar</a>
            </div>
        </div>
    </div>
</div>
{{/if}}
<br><br>

<script>
    // Obtén el botón y el formulario por su ID
    const botonMostrarFormulario = document.getElementById('mostrarFormulario');
    const formulario = document.getElementById('formulario');

    // Agrega un evento clic al botón para mostrar u ocultar el formulario
    botonMostrarFormulario.addEventListener('click', function () {
        if (formulario.style.display === 'none' || formulario.style.display === '') {
            formulario.style.display = 'block'; // Muestra el formulario
        } else {
            formulario.style.display = 'none'; // Oculta el formulario
        }
    });
</script>