<div class="row my-5 justify-content-center">
   <div class="col-md-6">
    
   </div>
   <div style="display: flex; flex-wrap: wrap; margin-top: 2rem;">
    <h3>Usuarios</h3>
    {{#with usu}}
        <ul> 
        {{#each this}}
            <li>
                {{first_name}} <------> {{ rol }}
                <br>
            </li>
        {{/each}}
        </ul>
    {{/with}}    
</div>
<div>
    <img src="{{ usuario.documents.[0].reference}}" alt="{{usuario._id}} Foto de perfil">
</div>
<div>
    <h2>Foto de Perfil</h2>
    <form action="/user/{{usuario._id}}/documents" method="post" enctype="multipart/form-data">
        <input type="text" name="filetype" value="ProfileImagen" style="display: none;">
        <input type="file" name="file" accept="image/*" required>
        <input type="submit" value="AGREGAR">
    </form>
    <br>    
    <h2>Documento de Identidad</h2>
    <form action="/user/{{ usuario._id }}/documents" method="post" enctype="multipart/form-data">
        <input type="text" name="filetype" value="DocumentIdent" style="display: none;">
        <input type="file" name="file" accept=".pdf, .doc, .docx" required>
        <input type="submit" value="AGREGAR">
    </form>
    <br>

    <h2>Comprobante de domicilio</h2>
    <form action="/user/{{usuario._id}}/documents" method="post" enctype="multipart/form-data">
        <input type="text" name="filetype" value="DocumentCompDomi" style="display: none;">
        <input type="file" name="file" accept=".pdf, .doc, .docx" required>
        <input type="submit" value="AGREGAR">
    </form>
    <br>
    <h2>Comprobante de estado de cuenta</h2>
    <form action="/user/{{usuario._id}}/documents" method="post" enctype="multipart/form-data">
        <input type="text" name="filetype" value="DocumentCompCuen" style="display: none;">
        <input type="file" name="file" accept=".pdf, .doc, .docx" required>
        <input type="submit" value="AGREGAR">
    </form>
</div>
</div>
